spring:
  application:
    name: shiftswap-be

  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql
    schema:
      printer:
        enabled: true

server:
  port: 8080

application:
  version: ${project.version:0.0.1-SNAPSHOT}
