version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: ss-postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser"]
      interval: 5s
      retries: 5

  app:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    container_name: shiftswap
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/mydatabase
      DB_USERNAME: myuser
      DB_PASSWORD: mypassword

    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
